# Tuple and Sets

## 1.Tuple

#### create a tuple

In [1]:
a=(1,2,3,4,5,6)
a

(1, 2, 3, 4, 5, 6)

In [2]:
name=("amir","noman","zain","rafey")
name

('amir', 'noman', 'zain', 'rafey')

In [3]:
char=('a','b','c','d')
char

('a', 'b', 'c', 'd')

#### immutable

In [4]:
a=(1,2,3,4,5,6)
a.append(7)              # can never be changed

AttributeError: 'tuple' object has no attribute 'append'

In [5]:
a=(1,2,3,4,5,6)
a.clear()             # can never be changed

AttributeError: 'tuple' object has no attribute 'clear'

#### Access tuple

In [6]:
a=(1,2,3,4,5,6)
a[3]                 # started from index 0 like list

4

In [7]:
name=("amir","noman","zain","rafey")
name[-1]

'rafey'

#### .item in dict return tuple

In [9]:
a={"name":"amir","roll_no":33}
a.items()

dict_items([('name', 'amir'), ('roll_no', 33)])

#### Tuple as a key in Dictionaries

In [10]:
a={
    ("amir","ansar"):"brother"
}
a[("amir","ansar")]

'brother'

In [12]:
# But not list key in Dict
a={
    ["amir","ansar"]:"brother"
}
a[["amir","ansar"]]

TypeError: unhashable type: 'list'

#### iterate tuple

In [13]:
# using for loop
a=(1,2,3,4,5,6,7,8,9,10)
for num in a:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [17]:
# using while loop
a=(1,2,3,4,5,6,7,8,9,10)
num=len(a)-1
while num>=0:
    print(a[num])
    num-=1

10
9
8
7
6
5
4
3
2
1

#### Tuple Method

##### 1.count

In [18]:
a=(1,2,3,4,5,6,7,8)
a.count(2)              # count the value which appear

1

In [19]:
a=(1,2,3,4,5,6,7,8,5)
a.count(5)

2

#### 2.Index

In [20]:
a=(1,2,3,4,5,6,7,8)
a.index(2)       # return the index of value

1

In [23]:
a=(1,2,2,3,3,4,5,6,7,8)
a.index(3)         # return the first match index

3

#### Slice in Tuple

In [27]:
a=(1,2,3,4,5) # same as list
a[0:]   # start from index 0 till end    a[start:upto tuple end]

(1, 2, 3, 4, 5)

In [28]:
a=(1,2,3,4,5) # same as list
a[0:4]   # start from 0 index and end 4 index   a[start:end]  and end is exclusive

(1, 2, 3, 4)

In [42]:
a=(1,2,3,4,5)    # same as list
a[2:4:2]    # start from 0 index end 3 index which is exclusive a[start:end:step]

(3,)

### Nested Tuple

##### create a nested tuple

In [30]:
a=(1,2,3,4,5,6,(7,5))
a

(1, 2, 3, 4, 5, 6, (7, 5))

In [33]:
a=(1,2,3,4,5,6,(7,5,(6,7)))
a

(1, 2, 3, 4, 5, 6, (7, 5, (6, 7)))

#### access a nested tuple

In [43]:
a=(1,2,3,4,5,6,(7,5))
a[6][0]

7

In [35]:
a=(1,2,3,4,5,6,(7,5,(6,7)))
a[6][2][0]

6

#### Slice in Nested tuple

In [44]:
a=(1,2,3,4,5,6,(7,5))
a[2:]

(3, 4, 5, 6, (7, 5))

In [45]:
a=(1,2,3,4,5,6,(7,5))
a[2:-1]

(3, 4, 5, 6)

In [46]:
a=(1,2,3,4,5,6,(7,5))
a[2::2]

(3, 5, (7, 5))

## 2.Sets

#### creating a set

In [1]:
# 1st method
s={1,2,3,6,5}
s

{1, 2, 3, 5, 6}

In [4]:
s={'a',2,'f',5}
s

{2, 5, 'a', 'f'}

In [3]:
# 2nd method
s=set({2,4,6,8})
s

{2, 4, 6, 8}

#### Set have unique

In [5]:
s={2,4,6,2,7,2,7}
s

{2, 4, 6, 7}

In [6]:
s={'a','f','g','a'}
s

{'a', 'f', 'g'}

In [7]:
s={'amir',"amir",2,2,'a','a'}
s                                # no first char second and string 3rd

{2, 'a', 'amir'}

#### cannot access as index

In [8]:
s={1,2,3,4,5}
s[2]

TypeError: 'set' object does not support indexing

#### access all value in set

In [9]:
s={1,3,4,6,7}
for no in s:
    print(no)

1
3
4
6
7

In [10]:
s={'a','b','f','a'}
for no in s:                    # because set have unique value
    print(no)

a
f
b

#### converted set into list and vice versa

In [13]:
# set to list
s={2,3,2,6,7,9,9}
l=list(s)
l

[2, 3, 6, 7, 9]

In [14]:
# list to set
s=[2,3,2,6,7,9,9,4]
l=set(s)
l

{2, 3, 4, 6, 7, 9}

### Set Method

#### 1.add

In [16]:
s={1,3,5,7,8}
s.add(6)
s

{1, 3, 5, 6, 7, 8}

In [17]:
s={1,3,4,5,6}     
s.add(3)           # already in there so nothing change
s

{1, 3, 4, 5, 6}

#### 2.remove

In [19]:
s={1,3,5,7,8}
s.remove(5)        # 5 remove from set
s

{1, 3, 7, 8}

In [20]:
s={1,3,5,7,8}
s.remove(2)        # 2 is not so error 
s

KeyError: 2

In [22]:
s={1,3,5,7,8}
s.discard(5)        # to avoid error use discard
s

{1, 3, 7, 8}

#### 3.copy

In [24]:
s={1,2,3,5}
r=s.copy()    # make a copy of set
r

{1, 2, 3, 5}

In [26]:
s={'a','b','d','a'}
r=s.copy()
r

{'a', 'b', 'd'}

#### 4.clear

In [28]:
s={1,2,3,5}
s.clear()    # clear all the set
s

set()

In [30]:
s={'a','b','d','a'}
s.clear()
s

set()

### Union

In [31]:
s1={1,3,4,5}
s2={1,2,6}
s1 | s2

{1, 2, 3, 4, 5, 6}

In [34]:
s1={'a','f','Am',4}
s2={'Am',4,'a',3.2}
s1 | s2

{3.2, 4, 'Am', 'a', 'f'}

### Interaction

In [32]:
s1={1,3,4,5}
s2={1,2,6}
s1 & s2

{1}

In [35]:
s1={'a','f','Am',4}
s2={'Am',4,'a',3.2}
s1 & s2

{4, 'Am', 'a'}

### Set Compehension

In [37]:
# simple
s={1,2,3,4}
{st for st in s}

{1, 2, 3, 4}

In [38]:
# square
s={1,2,3,4}
{st**2 for st in s}

{1, 4, 9, 16}

In [42]:
# include vowle
s='hello'
{st for st in s if st in 'aeious'}

{'e', 'o'}

In [43]:
# converted into upper case
s='hello'
{st.upper() for st in s }      # 1 L is skip because set have unique

{'E', 'H', 'L', 'O'}