# Lambdas and Built In Function

### Lambdas function

In [1]:
# add function using lambdas
add_value=lambda x,y : x+y
add_value(3,5)

8

In [4]:
# multiply fuction using 
multiply_val=lambda x,y,z=3:x*y*z
multiply_val(2,3)

18

### map

In [10]:
# list of even number using map
num=[1,2,3,4,5]
even=map(lambda x: x*2, num)     # num iterate in lambdas function
list(even)

[2, 4, 6, 8, 10]

In [11]:
names=[
    {'first':'amir', 'last':'ali'},
    {'first':'noman', 'last':'nadeem'},
    {'first':'zain', 'last':'amin'},
]
fname=map(lambda x: x['first'], names)
list(fname)

['amir', 'noman', 'zain']

### Filter

In [13]:
# even (basicaly filter working same as map but in filter return only true)
num=[1,2,3,4,5]
even=filter(lambda x:x%2==0,num)
list(num)

[1, 2, 3, 4, 5]

In [16]:
# show the a name 
name=['amir','zain','noman']
a_name=filter(lambda x:x[0]=='a',name)
list(a_name)

['amir']

In [17]:
# inactive user
users = [
      {"username": "samuel", "tweets": ["I love cake", "I love pie", "hello world!"]},
      {"username": "katie", "tweets": ["I love my cat"]},
      {"username": "jeff", "tweets": []},
      {"username": "bob123", "tweets": []},
      {"username": "doggo_luvr", "tweets": ["dogs are the best", "I'm hungry"]},
      {"username": "guitar_gal", "tweets": []}
]
inactive_users = filter(lambda u: not u['tweets'], users)
list(inactive_users)

[{'username': 'jeff', 'tweets': []},
 {'username': 'bob123', 'tweets': []},
 {'username': 'guitar_gal', 'tweets': []}]

#### combining the map & filter

In [30]:
# first run filter ater this value goes to map and then run
name1=['amir','tafseer','zeeshan']
iam= map(lambda x:f"your name is {x}",
        filter(lambda value:len(value) <5,name1))
list(iam)

['your name is amir']

In [29]:
name1=['amir','ali','tafseer','zeeshan']
iam= map(lambda x:f"your name is {x}",
        filter(lambda value:len(value) <5,name1))
list(iam)

['your name is amir', 'your name is ali']

In [31]:
users = [
      {"username": "samuel", "tweets": ["I love cake", "I love pie", "hello world!"]},
      {"username": "katie", "tweets": ["I love my cat"]},
      {"username": "jeff", "tweets": []},
      {"username": "bob123", "tweets": []},
      {"username": "doggo_luvr", "tweets": ["dogs are the best", "I'm hungry"]},
      {"username": "guitar_gal", "tweets": []}
]
usernames = list(map(lambda user: user["username"].upper(), 
      filter(lambda u: not u['tweets'], users)))
list(usernames)

['JEFF', 'BOB123', 'GUITAR_GAL']

#### List Comprehension (instead of combining the map and filter)

In [33]:
# we doing the same above program using list comprehension instead using combining map and filter
name1=['amir','tafseer','zeeshan']
[f"your in instructor is {name}" for name in name1 if len(name)<5]

['your in instructor is amir']

In [35]:
users = [
      {"username": "samuel", "tweets": ["I love cake", "I love pie", "hello world!"]},
      {"username": "katie", "tweets": ["I love my cat"]},
      {"username": "jeff", "tweets": []},
      {"username": "bob123", "tweets": []},
      {"username": "doggo_luvr", "tweets": ["dogs are the best", "I'm hungry"]},
      {"username": "guitar_gal", "tweets": []}
]
#extract inactive users using list comprehension:
inactive_users2= [user for user in users if not user["tweets"]]
list(inactive_users2)

[{'username': 'jeff', 'tweets': []},
 {'username': 'bob123', 'tweets': []},
 {'username': 'guitar_gal', 'tweets': []}]

In [37]:
# extract usernames of inactive users w/ list comprehension
usernames2 = [user["username"].upper() for user in users if not user["tweets"]]
list(usernames2)

['JEFF', 'BOB123', 'GUITAR_GAL']

### Built in Function

#### all

In [3]:
# all the list according to condion must true 
num=[2,4,6,8]
all([number for number in num if number % 2==0])

True

In [5]:
# Even one element of list is not according to condition then false
num=[2,4,6,8,1,5,4,1,3]
all([number for number in num if number % 2==0])

True

In [10]:
all([num for num in [1,1] if num % 2 == 0])

True

#### any

In [13]:
# if one is true whole list then true in all all the must true
num=[2,4,6,8]
any([number for number in num if number % 2==0])

True

In [15]:
any([num for num in [1,1] if num % 2 == 0])

False

### Generator vs List Comprehension

In [18]:
import sys
list_comp= sys.getsizeof([x*10 for x in range(1000)])
gen_expression= sys.getsizeof(x*10 for x in range(1000))   # without [] for gen-exp
print(f"list comprehension {list_comp} bytes")
print(f"gen_expression {gen_expression} bytes")

list comprehension 9024 bytes
gen_expression 88 bytes

### Built in Function Sorted

#### 1.Sorted

In [23]:
# just simple sort
num=[2,4,1,3,7,6]
num.sort()
num

[1, 2, 3, 4, 6, 7]

In [25]:
# but sorted
num=[2,4,1,3,7,6]
sorted(num)  # but num is unchanged [2,4,1,3,7,6]

[1, 2, 3, 4, 6, 7]

In [27]:
num=(2,4,1,3,7,6)   # also capable for tuple but simple sort is not
sorted(num)

[1, 2, 3, 4, 6, 7]

In [29]:
num=(2,4,1,3,7,6)   # also capable for other operation like condition and reverse etc
sorted(num, reverse=True)

[7, 6, 4, 3, 2, 1]

In [34]:
num=[2,4,1,3,7,6]
sorted(num)

[1, 2, 3, 4, 6, 7]

In [35]:
users = [
	{"username": "samuel", "tweets": ["I love cake", "I love pie", "hello world!"]},
	{"username": "katie", "tweets": ["I love my cat"]},
	{"username": "jeff", "tweets": [], "color": "purple"},
	{"username": "bob123", "tweets": [], "num": 10, "color": "teal"},
	{"username": "doggo_luvr", "tweets": ["dogs are the best", "I'm hungry"]},
	{"username": "guitar_gal", "tweets": []}
]

# To sort users by their username
sorted(users,key=lambda user: user['username'])

[{'username': 'bob123', 'tweets': [], 'num': 10, 'color': 'teal'},
 {'username': 'doggo_luvr', 'tweets': ['dogs are the best', "I'm hungry"]},
 {'username': 'guitar_gal', 'tweets': []},
 {'username': 'jeff', 'tweets': [], 'color': 'purple'},
 {'username': 'katie', 'tweets': ['I love my cat']},
 {'username': 'samuel',
  'tweets': ['I love cake', 'I love pie', 'hello world!']}]

In [31]:
# Finding our most active users...
# Sort users by number of tweets, descending
sorted(users,key=lambda user: len(user["tweets"]), reverse=True)

[{'username': 'samuel',
  'tweets': ['I love cake', 'I love pie', 'hello world!']},
 {'username': 'doggo_luvr', 'tweets': ['dogs are the best', "I'm hungry"]},
 {'username': 'katie', 'tweets': ['I love my cat']},
 {'username': 'jeff', 'tweets': [], 'color': 'purple'},
 {'username': 'bob123', 'tweets': [], 'num': 10, 'color': 'teal'},
 {'username': 'guitar_gal', 'tweets': []}]

In [32]:
songs = [
	{"title": "happy birthday", "playcount": 1},
	{"title": "Survive", "playcount": 6},
	{"title": "YMCA", "playcount": 99},
	{"title": "Toxic", "playcount": 31}
]

# To sort songs by playcount
sorted(songs, key=lambda s: s['playcount'])

[{'title': 'happy birthday', 'playcount': 1},
 {'title': 'Survive', 'playcount': 6},
 {'title': 'Toxic', 'playcount': 31},
 {'title': 'YMCA', 'playcount': 99}]

#### 2.Max

In [33]:
num=[2,4,1,3,7,6]
max(num)

7

In [37]:
users = [
	{"username": "samuel", "tweets": ["I love cake", "I love pie", "hello world!"]},
	{"username": "katie", "tweets": ["I love my cat"]},
	{"username": "jeff", "tweets": [], "color": "purple"},
	{"username": "bob123", "tweets": [], "num": 10, "color": "teal"},
	{"username": "doggo_luvr", "tweets": ["dogs are the best", "I'm hungry"]},
	{"username": "guitar_gal", "tweets": []}
]

# To sort users by their username
max(users,key=lambda user: user['username'])  # alphabaticaly largest user name

{'username': 'samuel', 'tweets': ['I love cake', 'I love pie', 'hello world!']}

In [44]:
names = ['Arya', "Samson", "Dora", "Tim", "Ollivander"]
# find the longest name itself
max(names, key=lambda n:len(n)) #Ollivander

'Ollivander'

In [46]:
songs = [
	{"title": "happy birthday", "playcount": 1},
	{"title": "Survive", "playcount": 6},
	{"title": "YMCA", "playcount": 99},
	{"title": "Toxic", "playcount": 31}
]

# Finds the title of the most played song
max(songs, key=lambda s: s['playcount'])['title'] #YMC

'YMCA'

#### 3.min

In [38]:
num=[2,4,1,3,7,6]
min(num)

1

In [39]:
users = [
	{"username": "samuel", "tweets": ["I love cake", "I love pie", "hello world!"]},
	{"username": "katie", "tweets": ["I love my cat"]},
	{"username": "jeff", "tweets": [], "color": "purple"},
	{"username": "bob123", "tweets": [], "num": 10, "color": "teal"},
	{"username": "doggo_luvr", "tweets": ["dogs are the best", "I'm hungry"]},
	{"username": "guitar_gal", "tweets": []}
]

# To sort users by their username
min(users,key=lambda user: user['username'])  # alphabaticaly small user name

{'username': 'bob123', 'tweets': [], 'num': 10, 'color': 'teal'}

In [42]:
names = ['Arya', "Samson", "Dora", "Tim", "Ollivander"]

# finds the minimum length of a name in names
min(len(name) for name in names) # 3

3

In [45]:
songs = [
	{"title": "happy birthday", "playcount": 1},
	{"title": "Survive", "playcount": 6},
	{"title": "YMCA", "playcount": 99},
	{"title": "Toxic", "playcount": 31}
]

# Finds the song with the lowerest playcount
min(songs, key=lambda s: s['playcount']) #{"title": "happy birthday", "playcount": 1}

{'title': 'happy birthday', 'playcount': 1}

#### 4.reversed

In [2]:
# return a reverse iterator
num=[1,2,3,4]
list(reversed(num))

[4, 3, 2, 1]

In [4]:
string="hello"
for char in reversed(string):
    print(char)

o
l
l
e
h

In [6]:
for char in reversed("hello"):
    print(char)

o
l
l
e
h

In [7]:
for num in reversed(range(0,5)):
    print(num)

4
3
2
1
0

In [8]:
# slice method
'hello'[::-1]

'olleh'

#### 5.len

In [9]:
num=[1,2,3,4]
len(num)

4

In [10]:
num=(1,2,3,4)
len(num)

4

In [11]:
word={'a':1,'b':2,'c':3}
len(word)

3

In [12]:
len(range(0,10))

10

In [13]:
'hello'.__len__()

5

#### 6.abs

In [14]:
# return vthe absolute value if -ve return +ve if +ve then no also postive return
abs(-5)

5

In [17]:
abs(4)   # we pass only one arguments

4

In [21]:
abs(float(2))  # only capable in number

2.0

In [22]:
abs(float(-2))

2.0

#### 7.Sum

In [24]:
sum([1,2,4])    # by default sart from 0

7

In [25]:
sum([1,2,4], 6)   # here start from 6

13

In [27]:
sum([1,2,4], -8)

-1

#### 8.round

In [29]:
round(10.45)  # by default he intern integer

10

In [30]:
round(10.45342, 2)   # return 2 digit after decimal

10.45

In [31]:
round(10.456, None)    # return the nearest Approximately

10

In [33]:
round(10.556, None)    # note after .5 or ngeater he round 11

11

#### 9.zip

In [1]:
# make a list of two diff list
no1=[1,2,3,4]
no2=[1,2,3,4]
list(zip(no1,no2))

[(1, 1), (2, 2), (3, 3), (4, 4)]

In [5]:
# or
no1=[1,2,3,4]
no2=[1,2,3,4]
no=zip(no1, no2)
list(no)

[(1, 1), (2, 2), (3, 3), (4, 4)]

In [3]:
# make a list shotest matter 
no1=[1,2,3,4]
no2=[1,2,3]
no=zip(no1, no2)
list(no)

[(1, 1), (2, 2), (3, 3)]

In [7]:
# for three zip
no1=[1,2,3]
no2=[1,2,3]
no3=['a','b','c']
no=zip(no1, no2, no3)
list(no)

[(1, 1, 'a'), (2, 2, 'b'), (3, 3, 'c')]

In [8]:
# order matter
no1=[1,2,3]
no2=[1,2,3]
no3=['a','b','c']
no=zip(no1, no3, no2)
list(no)

[(1, 'a', 1), (2, 'b', 2), (3, 'c', 3)]

In [9]:
# making a zip of dictionaries
no1 = [1, 2, 3]
no2 = ['a','b','c']
dict(zip(no1,no2))

{1: 'a', 2: 'b', 3: 'c'}

In [11]:
# unpack zip use *
z= [(1, 'a', 1), (2, 'b', 2), (3, 'c', 3)]   # unpack tuple
list(zip(*z))

[(1, 2, 3), ('a', 'b', 'c'), (1, 2, 3)]

In [13]:
z=[{1: 'a', 2: 'b', 3: 'c'}]             # unpack dict
list(zip(*z))

[(1,), (2,), (3,)]

### More complex zip example

In [24]:
# in this example three student and have a mid and final marks and our target make a dictionary with max number of student
# just like that {'amir': 25, 'zain': 25, 'noman': 23}
student=['amir','zain','noman']
mid_no=[25, 23, 18]
final_no= [22, 25, 23]

#### 1st method

In [25]:
# using list comprehension
student=['amir','zain','noman']
mid_no=[25, 23, 18]
final_no= [22, 25, 23]
max_no={pair[0]:max(pair[1], pair[2]) for pair in zip(student, mid_no, final_no)}
max_no

{'amir': 25, 'zain': 25, 'noman': 23}

#### 2nd Method

In [35]:
# using map
student=['amir','zain','noman']
mid_no=[25, 23, 18]
final_no= [22, 25, 23]
max_no= zip(
    student,
            map(
    lambda pair : max(pair),
    zip(mid_no, final_no)
)
)
dict(max_no)

{'amir': 25, 'zain': 25, 'noman': 23}

In [37]:
# making a avg using map
student=['amir','zain','noman']
mid_no=[25, 23, 18]
final_no= [22, 25, 23]
avg_no= zip(
    student,
            map(
    lambda pair : ((pair[0]+pair[1])/2),
    zip(mid_no, final_no)
)
)
dict(avg_no)

{'amir': 23.5, 'zain': 24.0, 'noman': 20.5}