# Variables and Datatype

#### Basic Initialize

In [27]:
a=2  # initialize
a

2

In [28]:
b=a  # variable declare with another variable
b

2

In [29]:
c=a+b
c

4

In [30]:
c=c+b
c        # update value of c

6

In [31]:
d=a+a+1
d

5

#### case Sensitive

In [20]:
my_roll_number_is = 33
my_roll_number_is

33

In [32]:
2my_roll_number_is = 33      # we can't initialze number in start 
my_roll_number_is

SyntaxError: invalid syntax (<ipython-input-32-3c9d006a5da3>, line 1)

In [21]:
MY_ROLL_NUMBER_IS=23     # for better understanding our variable use underscore
MY_ROLL_NUMBER_IS

23

In [33]:
MY_2ROLL_NUMBER_IS=23          # we can declare inside number
MY_ROLL_NUMBER_IS

23

In [22]:
MyRollNumber=54        # we can declare Capital and small 
MyRollNumber

54

In [34]:
My$RollNumber=54        # we can't declare $ @ % & type later
MyRollNumber

SyntaxError: invalid syntax (<ipython-input-34-13ead422896c>, line 1)

#### Boolean

In [23]:
a=True       # Bolean value mean 1

In [24]:
a

True

In [25]:
b=False    # Bolean value mean 0

In [26]:
b

False

In [35]:
a=true   # It's actually True not true

NameError: name 'true' is not defined

#### Declare string

In [3]:
a="hello world"  # using double quotes
a

'hello world'

In [4]:
b='Hello world'  # using single quotes
b

'Hello world'

In [5]:
a="hello'hi'"  # declare double quotes inside single quotes
a

"hello'hi'"

In [7]:
b='hello "hi"' # single quotes inside double quotes
b

'hello "hi"'

In [9]:
a="hello Iam "say" that"   # can't declare double and inside double
a

SyntaxError: invalid syntax (<ipython-input-9-ba0e25b4f345>, line 1)

In [14]:
a="hello Iam \"say\" that"  # we can use / when we use double quote inside double quotes
a

'hello Iam "say" that'

In [15]:
a='hello world i am 'man'of man'  # can't declare single quote inside single quotes
a

SyntaxError: invalid syntax (<ipython-input-15-31bacfd493e1>, line 1)

In [16]:
a='hello world i am \'man\'of man' # we can use / when we use single quote inside single quotes
a

"hello world i am 'man'of man"

In [17]:
a="hello \n World"
print(a)

hello
 World

#### Cancatenate String

In [24]:
a="hello"    # hello world
b="world"
c= a+" "+b
c

'hello world'

In [34]:
d = "hello"       # hello world
d += " world"
d

'hello world'

#### farmating string

In [35]:
a=5
print(f"My lucky number is {a}  ")     # in python 3.6 we can use this type of declaration

My lucky number is 5

In [37]:
a=5                                              # farmitting of string
b=5
print(f"My lucky number is {a} and only {a} ")

My lucky number is 5 and only 5

#### string index

In [38]:
name="yes"         # 0= y 1=e 3=s in string
name[0]

'y'

In [40]:
name="yes"       # also use negate index -3=y -2=e and -1=s
name[-3]

'y'

#### Converting datatype

In [46]:
int=12         # Integer to string
str(int)

'12'

In [49]:
num=12
type(12)

int

#### Takes input

In [2]:
a= input()
print("Enter the value" +a)

4
Enter the value4

In [1]:
a=input()
print(a)

4
4

#### Project: Building a Milestone converter with user input

In [ ]:
print("how many KM did you run")
km=input()                              # take user input
mi=float(km)/1.60934                    # convert km into miles
mi=round(mi,2)                          # round off about 2 decimal
print(f"you {km} km ride was {mi} mi")  # show output