# Lists

## Lists look like

In [5]:
number=[1,2,4,6,8]
number

[1, 2, 4, 6, 8]

In [6]:
string=["amir","rafey","zain"]
string

['amir', 'rafey', 'zain']

In [7]:
character=['a','d','d','s']
character

['a', 'd', 'd', 's']

In [8]:
float=[3.4,4.5,2.55,3.54]
float

[3.4, 4.5, 2.55, 3.54]

In [10]:
mixed=["amir",'a',5,4.5]
mixed

['amir', 'a', 5, 4.5]

## How list create

###### 1st Method

In [13]:
name=['amir','zain','rafey']
name                                       # as above

['amir', 'zain', 'rafey']

###### 2nd Method

In [17]:
name1="amir"
name2="zain"
name3="fafey"
name=[name1, name2, name3]
name

['amir', 'zain', 'fafey']

In [18]:
name="amir"
roll_no=33
city="ryk"
cgpa="3.4"
cv=[name, roll_no, city, cgpa]
cv

['amir', 33, 'ryk', '3.4']

###### 3rd Method

In [26]:
number=range(1,9)
list(number)

[1, 2, 3, 4, 5, 6, 7, 8]

## How many element exists in List

In [19]:
a=[3,4,6,4,3,2]
len(a)

6

In [20]:
mixed=["amir",'a',5,4.5]
len(mixed)

4

In [21]:
name="amir"
roll_no=33
city="ryk"
cgpa="3.4"
cv=[name, roll_no, city, cgpa]
len(cv)

4

## Accesing the element in list

###### 1st method

In [27]:
friends = ['amir','rafey','zain']
friends[0]

'amir'

In [28]:
friends[1]

'rafey'

In [29]:
friends[2]

'zain'

In [30]:
name="amir"
roll_no=33
city="ryk"
cgpa="3.4"
cv=[name, roll_no, city, cgpa]
cv[3]                    # access cgpa

'3.4'

##### 2nd Method

In [31]:
friends = ['amir','rafey','zain']
friends[-1]            # negative number to access element from end

'zain'

In [32]:
friends[-2]

'rafey'

In [33]:
friends[-3]

'amir'

In [34]:
name="amir"
roll_no=33
city="ryk"
cgpa="3.4"
cv=[name, roll_no, city, cgpa]
cv[-1]                    # access cgpa

'3.4'

#### Check if the value in exist

In [35]:
friends = ['amir','rafey','zain']
"amir" in friends                     # if exist then true

True

In [36]:
friends = ['amir','rafey','zain']
"noman" in friends

False

## Iterating over List

#### 1st Method: for loop

In [38]:
name=["amir","rafey","zeeshan","ahmad"]
for x in name:
    print(x)

amir
rafey
zeeshan
ahmad

In [39]:
number=[3,5,7,2,8,6]
for no in number:
    print(no)

3
5
7
2
8
6

#### 2nd Method: while loop

In [42]:
name=["amir","rafey","zeeshan","ahmad"]
index=0
while index < len(name):
    print(name[index])
    index=index+1

amir
rafey
zeeshan
ahmad

In [49]:
name=["amir","rafey","zeeshan","ahmad"]
index=0
while index < len(name):             # little complex but useful for f string our each line of index but can't do in for loop
    print(f"{index}:{name[index]}")
    index=index+1

0:amir
1:rafey
2:zeeshan
3:ahmad

## List Method

#### 1.append

In [51]:
x=[2,4,6,8]
x.append(7)
x

[2, 4, 6, 8, 7]

In [54]:
x=[2,4,5,7]
x.append([2,5,6])     # consider as single in list using append
x

[2, 4, 5, 7, [2, 5, 6]]

#### 2.extend

In [58]:
x=[1,2,3,4,5]
x.extend([3])
x

[1, 2, 3, 4, 5, 3]

In [60]:
x=[1,2,3,4,5]
x.extend([3,4,6,7])        # consider as all in list using extend
x

[1, 2, 3, 4, 5, 3, 4, 6, 7]

#### 3.insert

In [65]:
x=[1,4,5,7]
x.insert(3,'amir')            # (index, which number did u place)
x

[1, 4, 5, 'amir', 7]

In [67]:
x=[1,4,5,7,4,6,8,9]
x.insert(6,'s')            # (index, which number did u place)
x

[1, 4, 5, 7, 4, 6, 's', 8, 9]

#### 4.Clear

In [3]:
a=[1,3,6,8,9]
a.clear()                # clear all the list
a

[]

In [5]:
name=["amir","rafey","zain"]
name.clear()
name

[]

#### 5.Pop

In [6]:
a=[1,4,6,7,9,7]
a.pop()                # by default pop remove last index of list
a

[1, 4, 6, 7, 9]

In [8]:
a=["amir","zain","rafey","ahmad"]
a.pop(2)                          # remove index 2 item of list which rafey
a

['amir', 'zain', 'ahmad']

#### 6.Remove

In [10]:
a=[1,4,7,9,3,5]
a.remove(4)          # 4 number remove difference between pop and remove is pop remove index and remove remove exist item
a

[1, 7, 9, 3, 5]

In [14]:
a=["zain","amir","zain","rafey"]
a.remove("zain")                  # when repeat item then he remove the first one of the list
a

['amir', 'zain', 'rafey']

#### 7.index

In [30]:
a=[1,4,5,6,8,9]
no=a.index(4)
no

1

In [31]:
a=[1,4,5,6,8,9,4]
no=a.index(4,3)   # start with index with 3
no

6

In [32]:
a=[1,4,5,6,8,9,4,4,4,4,4]
no=a.index(4,0,6)     # 4 find the idex which between 0 index and end 6 index
no

1

#### 8.Count

In [25]:
a=[2,4,5,7,4,2,4,6]
a.count(4)                   # count the number in list

3

In [34]:
a=["amir","amir","zain","rafey"]
cont=a.count("amir")
cont

2

#### 9.Reverse

In [44]:
a=[3,5,7,9,53,5,8]
a.reverse()
a

[8, 5, 53, 9, 7, 5, 3]

In [45]:
a=['a','d','f','g']
a.reverse()
a

['g', 'f', 'd', 'a']

#### 10.Sort

In [46]:
a=[3,5,6,8,5,3]
a.sort()
a

[3, 3, 5, 5, 6, 8]

In [49]:
a=['f','s','g','b']
a.sort()
a

['b', 'f', 'g', 's']

In [ ]:
a=["a","A","C","b"]
a.sort()                      # upper case first then lower case
a

#### 11.Join

In [50]:
a=["my","name","is","amir"]             # used only for string method
" ".join(a)

'my name is amir'

In [52]:
a=["Mr","amir"]
". ".join(a)

'Mr. amir'

## Slicing

#### 1.first parameter for slice: start

In [54]:
a=[2,4,6,7,4,2]
a[2:]                # start from index 2 till end

[6, 7, 4, 2]

In [57]:
a=[2,4,6,7,4,2]
a[6:]               # strat from index 6 which is empty

[]

In [58]:
a=[2,4,6,7,4,2]
a[-1:]                   # -1 means start from end till end which is 2

[2]

In [59]:
a=[2,4,6,7,4,2]
a[-4:]

[6, 7, 4, 2]

#### 2.second parameter for slice: end

In [64]:
a=[1,2,3,4,7,6]
a[:5]

[1, 2, 3, 4, 7]

In [65]:
a=[1,2,3,4,6,6]
a[1:5]

[2, 3, 4, 6]

In [70]:
a=[2,4,5,7,8]
a[-1:-1]

[]

#### 3.third parameter for slice: step

In [67]:
a=[1,2,3,4,6]
a[::1]

[1, 2, 3, 4, 6]

In [68]:
a=[1,2,3,4,6]
a[::2]

[1, 3, 6]

In [69]:
a=[1,2,3,4,6]
a[1:-1:2]

[2, 4]

In [82]:
a=[1,2,3,4,5,6]
a[::-1]

[6, 5, 4, 3, 2, 1]

#### trick with slice

In [83]:
# reverse list
a=[1,2,3,4,5,6,7]
a[::-1]

[7, 6, 5, 4, 3, 2, 1]

In [93]:
# modify list
a=[1,2,3,4,5]
a[0:2]=['a','b','c']
a

['a', 'b', 'c', 3, 4, 5]

#### Swap values

In [94]:
name=["amir","rafey"]
name[0],name[1]=name[1],name[0]
name

['rafey', 'amir']

In [97]:
name=["amir","rafey","zain"]
name[1],name[2]=name[2],name[1]
name

['amir', 'zain', 'rafey']

In [99]:
name=["amir","rafey","zain"]
name[0],name[2]=name[2],name[0]
name

['zain', 'rafey', 'amir']